<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Bed History</title>
  </head>
   <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/landing_style.css') }}">
   <body>
      <div>      
      <form method = "post">
         <h1>Was gibt's am Acker?</h1>
         <h2>Was kann man womöglich ernten?</h2>
         <button id="Enter" type="button" onclick="window.location.href = '/ernteliste' ; " class="button-89">Zur Ernteliste</button>
         <h2>Was gibt's im Beet #(0-90)?</h2> 
         <p><input type = "text" name = "bid" class="input"/></p>
         <p><input type = "submit" value = "Schau ma mal..." /></p>
      </form>
   </div>
      <div>
         <form method = "post" id="kulturname">
            <h2>Was bauen wir an?</h2> 
         <div class="select">   
         <select name="kulturname" form="kulturname">
            {% for n in name %}
                <option value="{{n}}">{{ n }}</option>
            {% endfor %}
        </select>
        <span class="focus"></span>
      </div>
        <p><input type = "submit" value = "...war(en) mal hier"/></p>
        </form>
      </div>
      <div>
          <button id="Enter" type="button" onclick="window.location.href = '/folien' ; " class="button-89">Aktuelle Folien</button>
          <button id="Enter" type="button" onclick="window.location.href = '/anbau' ; " class="button-89">Gemüseanbaukalender</button>
       </div>
          <div>
         <img src="{{url_for('static', filename='images/erdling_logo.gif')}}" alt="Erdling Logo">
     </div>
     <div class="update-date">
      Letztes Update: {{ update_date }}
     </div>      
   </body>
</html>
