<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Bed History</title>
  </head>
   <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/landing_style.css') }}">
   <body>
      <div>      
      <form method = "post">
         <h1>Was gibt's am Acker?</h1>
         <h2>BeetID (0-90):</h2> 
         <p><input type = "text" name = "bid" class="input"/></p>
         <p><input type = "submit" value = "Schau ma mal..." /></p>
      </form>
   </div>
      <div>
         <form method = "post" id="kulturname">
         <div class="select">   
         <select name="kulturname" form="kulturname">
            {% for n in name %}
                <option value="{{n}}">{{ n }}</option>
            {% endfor %}
        </select>
        <span class="focus"></span>
      </div>
        <p><input type = "submit" value = "...war(en) mal hier"/></p>
        </form>
      </div>
          <button id="Enter" type="button" onclick="window.location.href = '/anbau' ; " class="button-89">Gemüseanbaukalender</button>
      <div>
         <img src="{{url_for('static', filename='images/erdling_logo.gif')}}" alt="Erdling Logo">
     </div>      
   </body>
</html>
