<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Bed History</title>
</head>
<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/df_style.css') }}">
<body>
<h1>{{ h1_string }}</h1>
{{ fig|safe }}
<h1>Was wissen wir über die letzten Jahre?</h1>
<table>
  {% for family in families %}
    <tr><th colspan="3">{{ family }}</th></tr>
    {% for key, values in family_overview[family].items() %}
      <tr>
    <th>{{ key }}</th>
      {% for value in values %}
        <td>
        {{ value }}
        </td>
      {% endfor %}
      </tr>
    {% endfor %}
  {% endfor %}
</table>
<button id="Enter" type="button" onclick="window.location.href = '/' ; " class="button-89">Zurück</button>
<div class="update-date">
    Letztes Update: {{ update_date }}
</div>
</body>
</html>