<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bed History</title>
</head>
<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/df_style.css') }}">
<body>
    <h1>{{ h1_string }}</h1>
    <div class="table-wrapper">
{% for table in tables %}
            {{ table|safe }}
{% endfor %}
</div>
{{ fig|safe }}
<button id="Enter" type="button" onclick="window.location.href = '{{ url_for('beetID', ID = before_bed)}}' ;" class="button-89">Beet #{{ before_bed }}</button>
<button id="Enter" type="button" onclick="window.location.href = '/' ; " class="button-89">Zurück</button>
<button id="Enter" type="button" onclick="window.location.href = '{{ url_for('beetID', ID = after_bed)}}' ; " class="button-89">Beet #{{ after_bed }}</button>
<div class="update-date">
    Letztes Update: {{ update_date }}
</div>
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
</body>
</html>