/* includes alternating gray and white with on-hover color */

body {
    min-height: 100vh;
    background-color: papayawhip; 
    vertical-align: middle;
    text-align: center;
    font-family: Helvetica;
  }

  /* Make width responsive (horizontal sliding bar)  */
.table-wrapper {
    width: 100%;
    /* max-width: 500px; */
    overflow-x: auto;
  }

th {
    background-color: #EAD8C0;
    color: black;
  }

.tablestyle {
    font-size: 1em; 
    display: inline-block;
    border-collapse: collapse;
    border: none;
  }

.tablestyle td, th {
    padding: 5px;
    border: none;
  }

.tablestyle tr:nth-child(even) {
    background: #EAD8C0;
  }

.tablestyle tr:hover {
    background: #aebd77;
    cursor: pointer;
  }