/* includes alternating gray and white with on-hover color */

body {
    min-height: 100vh;
    background-color: papayawhip; 
    vertical-align: middle;
    text-align: center;
    font-family: Helvetica;
  }

  /* Make width responsive (horizontal sliding bar)  */
.table-wrapper {
    width: 100%;
    /* max-width: 500px; */
    overflow-x: auto;
  }

th {
    background-color: #EAD8C0;
    color: black;
  }

.tablestyle {
    font-size: 1em; 
    display: inline-block;
    border-collapse: collapse;
    border: none;
  }

.tablestyle td, th {
    padding: 5px;
    border: none;
  }

.tablestyle tr:nth-child(even) {
    background: #EAD8C0;
  }

.tablestyle tr:hover {
    background: #aebd77;
    cursor: pointer;
  }
  
  /* CSS */
  .button-89 {
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #373B44;
    
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
  
    border: 0;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-89:hover,
  .button-89:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
  }
  
  .button-89:active {
    background: var(--color);
    color: #fff;
  }